<body class="navigation-background">
    <div>
        <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F68655149%2F150633505807%2F1%2Foriginal.20190814-182808?w=1000&auto=compress&rect=0%2C0%2C500%2C250&s=ac07f47a6b8f19d95a7a88fe94f761d9"/>
        <div class="top-left">
            <button mat-icon-button aria-label="Back" [routerLink]="['/home']">
                <mat-icon>subdirectory_arrow_left</mat-icon>
            </button>
        </div>
    </div>  
</body>
<div class="body">
    <div class="centered">
        <mat-chip-list>
            <mat-chip color="secondary" selected [routerLink]="['/maps']"> Maps </mat-chip>
            <mat-chip color="secondary" selected> Buses </mat-chip>
            <mat-chip color="secondary" selected > Lyft </mat-chip>         
        </mat-chip-list>
    </div>
</div>
