.container {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.centered2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate( -60%, -50%);
    

}
.bottom {
    position: relative;
    bottom: 30px;
    
}

img {
    opacity: 0.7;
}

h1{
    font-size: 350%;
    font-weight: lighter;
}

p{
    font-size: 110%;
}

.background-image{
    width:100%;
}
mat-chip{
    clear:left;
}
